.action-table {
  margin-top:5px;
  height:300px;
  overflow: auto;
}

.form-group-container {
  display:flex;
}

.form-group {
  flex-direction: row;
}

.radio-button-container {
  display:flex;
  justify-content: space-between;
}

.radio-button {
  flex-direction: row;
}
