/*
  Flat Design Color Theme: http://www.flatuicolorpicker.com/category/gray
  background color: (Smoke White)
  color pallete:
    - #EBF7FF --light-blue
*/
:root {
  --background-color:#FEFEFA; /* Baby Powder */
  --light-blue:#EBF7FF;
  --light-skin:#FFF9F4;
}
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

html,body {
  height:100%;
}

#root {
  height:100%;
}
