.button-delete {
  margin-top:10px;
}

.formGroup-container {
  margin-top:10px;
}

.form-container {
  overflow:auto;
  width:100%;
  height:500px;
  margin-top:15px;
}

.add-submit {
  margin:5px;
}
